.container {
    background-image: url('https://images.pexels.com/photos/1097456/pexels-photo-1097456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.searchSuggestionContainer {
    background-color: rgba(153, 153, 153, 0.5);
    backdrop-filter: blur(8px);
}

#searchBox {
    border: none;
    background-color: rgba(135, 135, 135, 0.5);
    color: rgb(200, 200, 200);
}

#searchBox:hover,
#searchBox:focus {
    background-color: rgb(29, 29, 29, 0.5);
}

#cross {
    color: rgb(200, 200, 200);
}

li:hover,
li:focus {
    background-color: rgb(29, 29, 29, 0.5);
}

.prefix {
    color: rgb(200, 200, 200);
    font-weight: bold
}

.sufix {
    color: black;
}